.accountInfoHeading {
  margin-bottom: 30px;
}

.FavouritesHeading {
  margin-bottom: 30px;
}

.UpdateInformationLink {
  font-size: 90%;
  color: green;
}

.DeleteAccount {
  font-size: 90%;
  color: rgb(200, 2, 2);
}

.UpdateLink {
  text-decoration: none;
  font-weight: bold;
}

.DeleteLink {
  text-decoration: none;
  font-weight: bold;
}

.accountInfoContainer {
  background-color: white;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.accountInfo {
  width: 400px;
}

.bold {
  font-weight: bold;
}
