.signupViewContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.signupSection {
  width: 500px;
  background-color: white;
  height: 550px;
  border-radius: 20%;
  align-self: center;
  margin-right: 20%;
  transform: translateY(-50px);
}

@media (max-width: 600px) {
  .signupViewContainer {
    justify-content: center;
  }

  .signupSection {
    margin-right: 0%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.signupFormInput {
  transform: translateX(-60px);
  height: 200px;
  flex-wrap: wrap;
}

.signupHeadingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.signupForm {
  display: flex;
  justify-content: center;
  height: 70%;
  margin-top: 5px;
  margin-right: 20px;
}

.signupButton {
  margin-top: 19px;
}

.bondLogo {
  width: 200px;
  height: 70px;
  margin-top: 65px;
  rotate: 270deg;
  transform: translate(-20px, -10px);
}
