.navigationBar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: black;
  width: 100vw;
}

.logoutLink {
  margin-left: auto;
  color: white !important;
}

.navContainer {
  display: flex;
  justify-content: left;
  gap: 5px;
  width: 100%;
  align-items: flex-end;
}

.noMovies {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.appTitle {
  color: white !important;
}

.loginLink {
  color: white !important;
  margin-left: auto;
}

.signupLink {
  color: white !important;
}
