$primary: #132043;

@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;

.myBond-flix {
  color: $color;
}

//Movie Card

a {
  text-decoration: none;
}

.movieCard {
  max-height: 100%;
}

.textCentre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-height: 80px;
  min-height: 80px;
}

.textCentre a {
  text-decoration: none;
}

.cardTitle {
  text-decoration: none;
}

.imgMain {
  height: 100%;
}

.mainContainer {
  padding-top: 50px;

  margin-bottom: 100px;
}

.FavouritesHeading {
  margin-top: 100px;
}

.centre {
  display: flex;
  justify-content: center;
}

// MovieView Styling

.MovieViewTitle {
  font-weight: bold;
}

.contentContainer {
  display: flex;
  padding-left: 5%;
  padding-top: 3%;
  display: flex;
  align-content: center;
}

.MovieViewText {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
}

.plot {
  font-weight: bold;
}

.description {
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.MovieViewButton {
  margin-top: 12%;
  display: flex;
  justify-content: flex-end;
}

//Account Information Component

.UpdateInformationLink {
  font-size: 90%;
  color: green;
}

.DeleteAccount {
  font-size: 90%;
  color: rgb(200, 2, 2);
}

.UpdateLink {
  text-decoration: none;
}

.DeleteLink {
  text-decoration: none;
}

//Update Information Component
.UpdateInfo {
  width: 100%;
}

.AccountUpdateButton {
  margin-top: 20px;
}

.UpdateButtonParent {
  display: flex;
  justify-content: flex-end;
}

.UpdateForm {
  width: 50%;
}

.UpdateFormParent {
  display: flex;
  justify-content: center;
}

.UpdateInfoHeading {
  text-align: center;
}

.UpdateBack {
  font-size: 90%;
  color: green;
  margin-top: 20%;
}

.UpdateBackParent {
  display: flex;
  justify-content: end;
}

//Login View
.LoginButton {
  margin-top: 10%;
}

//Navigation bar
.logoutLink {
  margin-left: auto;
  color: $primary;
}

.navContainer {
  display: flex;
  justify-content: left;
  gap: 5px;
  width: 100%;
  align-items: end;
}

//MainView
.searchBar {
  display: block;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  margin-bottom: 50px;
  border: rgba(0, 0, 0, 0.071) solid;
}

.searchParent {
  display: flex;
  justify-content: center;
}

.noMovies {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}
