$primary: #132043;

@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;

.myBond-flix {
  color: $color;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Exo 2", sans-serif;
}

// Search Bar Styling
.hideSearchBar {
  opacity: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

//BondIntro Styling

#bondTheme {
  display: none;
}

.bondIntro {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  transition: opacity 2s ease-in-out;
  opacity: 1;
  position: absolute;
  z-index: -1;
  margin-top: 5%;
}

.introBackground {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.blackOverlay {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.blackOverlayRemove {
  opacity: 0;
}

.bondVideo {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.videoReveal {
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

.introHidden {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.videoHidden {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.introDisplayNone {
  display: none;
}

.bondIntroReveal {
  z-index: 3;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
